<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Java batch</title>
</head>
<body>
<div style="margin: 20px;">
    <h1>Transakties</h1>
    <div id="app">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="form-group">
                <a class="btn btn-primary" href="uploadtransakties.html">Upload transakties</a>
            </div>
        </div>
        <div class="alert alert-primary" role="alert">
            <a href="index.html">&lt;&lt; terug naar onderwerpen</a>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h3>Transakties</h3>
            <!-- MAANDOVERZICHT -->
            <div style="width: 100%">
                <div class="card" v-for="m in zoekresultaat.maandoverzicht" style="width: 8.4%; float: left">
                    <div class="card-body">
                        <p class="card-title" style="font-weight: bold; text-align: right">{{ m.maand.maand }} {{ m.maand.jaar }}</p>
                        <p class="card-text" style="text-align: right">&euro; {{ m.bedrag.toFixed(2) }}</p>
                    </div>
                </div>
            </div>
            <!-- TAG TOEVOEGEN AAN HUIDIGE ZOEKOPDRACHT -->
            <div class="input-group mb-3" style="padding-top: 15px">
                <button type="button" class="btn btn-primary" v-on:click="addTag()">Tag</button>
                <input class="form-control" v-model="zoekopdracht.tag2add"
                       placeholder="tag toevoegen aan zoekopdracht resultaten"/>
                <button type="button" class="btn btn-primary" v-on:click="addTag()">Tag en save Query</button>
            </div>
            <table class="table-sm table-striped table-bordered table-hover" style="width: 100%">
                <thead>
                <!-- ZOEK TRANSAKTIES -->
                <tr>
                    <td style="width: 10%"></td>
                    <td style="width: 20%"><input style="width: 100%" v-model="zoekopdracht.tegenpartij"
                                                  v-on:keyup="findTransakties()"/></td>
                    <td style="width: 10%"></td>
                    <td style="width: 40%"><input style="width: 100%" v-model="zoekopdracht.omschrijving"
                                                  v-on:keyup="findTransakties()"/></td>
                    <td style="width: 20%"><input style="width: 100%" v-model="zoekopdracht.tag"
                                                  v-on:keyup="findTransakties()"/></td>
                </tr>
                <tr>
                    <th>datum</th>
                    <th>naam tegenpartij</th>
                    <th>bedrag</th>
                    <th>omschrijving</th>
                    <th>tags</th>
                </tr>
                </thead>
                <!-- ZOEKRESULTAAT -->
                <tbody>
                <tr v-for="tr in zoekresultaat.transakties">
                    <td align="right">{{ new Date(tr.datum).toLocaleDateString() }}</td>
                    <td>
                        {{ tr.naamTegenpartij }} <span class="badge badge-light">{{ tr.tegenrekening }}</span>
                    </td>
                    <td align="right">{{ tr.bedrag.toFixed(2) }}</td>
                    <td>{{ tr.omschrijving1 }}</td>
                    <td>
                        <span v-for="tag in tr.tags">
                            <span class="badge badge-pill badge-primary">{{ tag.naam }}</span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            transakties: {},
            zoekopdracht: {
                "tegenpartij": "",
                "omschrijving": "",
                "tag": "",
                "tag2add": ""
            },
            zoekresultaat: {}
        },
        methods: {
            findTransakties: function () {
                if (this.zoekopdracht.tag.trim() === '' || this.zoekopdracht.tag.endsWith(' ')) {
                    let xmlhttp = new XMLHttpRequest();
                    const url = 'http://localhost:9080/jakarta_ee_8_war_exploded/resources/transaktie';
                    xmlhttp.open("POST", url);
                    xmlhttp.setRequestHeader('Content-Type', 'application/json');
                    xmlhttp.send(JSON.stringify(this.zoekopdracht));
                    xmlhttp.onload = (e) => {
                        this.zoekresultaat = JSON.parse(xmlhttp.response);
                    }
                }
            },
            addTag: function () {
                let xmlhttp = new XMLHttpRequest();
                const url = 'http://localhost:9080/jakarta_ee_8_war_exploded/resources/transaktie/addtag';
                xmlhttp.open("POST", url);
                xmlhttp.setRequestHeader('Content-Type', 'application/json');
                xmlhttp.send(JSON.stringify(this.zoekopdracht));
                xmlhttp.onload = (e) => {
                    this.zoekresultaat = JSON.parse(xmlhttp.response);
                }
            }
        }
    });
    app.findTransakties();
</script>
</body>
</html>
